*{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display:block;
    height: fit-content;
    position: relative;
    padding-bottom: 0px;
    
    
}

.navigation-link {
    display: inline-block;
    font-weight: 400;
    padding: 20px;
    font-size: 16px;
    height: 20px;
    position: relative;
    overflow: visible;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    color: #676770;
  }
  
  .navigation-link:hover {
    color: #2e9dff;
    text-decoration: none;
  }
  .navigation-link:active {
    color: #2e9dff;
  }
  
  .Brand{
    color: #1f97ff;
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    height: 20px;
    line-height: 25px;
    letter-spacing: 4px;
    position: relative;
    overflow: visible;
  }
  .Brand:hover {
    color: #2e9dff;
    text-decoration: none;
  }

  .hero{
      border-width: 1px;
      border-style: solid;
      border-color: #3b99d9;
      background-color: hsla(216, 68.91%, 59.26%, 1.00);
      background-image: url("../assets/hero.png");
      background-position: 50% 0%;
      background-repeat: repeat;
      background-attachment: scroll;
      opacity: 1;
      color: hsla(204.30379746835442, 67.65%, 54.67%, 1.00);
      text-align: center;
      padding-top: 195px;
      padding-bottom: 195px;
  }

  .heading{
      display: block;
      margin-bottom: 30px;
      color: white;
      font-size: 60px;
      line-height: 60px;
      font-weight: 300;
      letter-spacing: 4px;
      text-transform: uppercase;
    
  }
  .subheading {
    margin-bottom: 40px;
    color: #2e9dff;
    font-size: 25px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .button {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    border-radius: 4px;
    background-color: #2e80b6;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    color: white;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .button:hover {
    background-color: #2e9dff;
  }
  
 

  .hollow-button {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 4px;
    transition-property: background-color, border, color;
    transition-duration: 300ms, 300ms, 300ms;
    transition-timing-function: ease, ease, ease;
    color: white;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .hollow-button:hover {
    border-color: #2e9dff;
    color: #2e9dff;
  }
  
  .section {
    position: relative;
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 10px;
    background-color: white;
    text-align: center;
  }

  .sectionHead {
    margin-top: 31px;
    margin-bottom: 10px;
    color: #676770;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
  }


.sectionSubHead{
  color: #8e8e9c;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.white-box {
  flex-grow:1;
  max-width: fit-content;
  float: left;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #dcebf7;
  border-radius: 5px;
  text-align: center;
}

.grid-image {
  display: block;
  width: 81px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 50%;
  background-color: #002131;
  box-shadow: 0 0 0 1px #2e9dff;
  
}

.boxHead{
    color: #6d6d77;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.para{
  color: #6a859c;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  
}

.white-text {
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  letter-spacing: 6px;
}


.footer {
  padding: 20px;
  background-color: #eaeff5;
}

.footer2{
font-size: 16px;
color: #9e9e9e;
background-color: #383838;
padding:30px;
text-align: center;
}

.footer-link{
   display: inline-block;
    font-size: 14px;
    position: relative;
    overflow: visible;
    color: #6a859c;
    text-align: left;
    text-decoration: underline;
}
.row{
  margin-left: 8%;
  margin-right: 8%;
  display:flex;
  position: static;
  overflow: visible;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
}
.imagebox{
  display: block;
  width:400px;
  margin-bottom: 30px;

}

.formBox{
    display: inline-block;
    width:78%;
    margin-top: 0px;
    margin-bottom: 1px;
    padding: 8px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 3px 4px 16px -1px hsla(208.13397129186603, 12.15%, 50.91%, 1.00);
    text-align: center;
    background-clip: border-box;

}

.formWrapper{
    max-width:450px;
    z-index: auto;
    display: inline-block;
    float: none;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    margin:15px;
}

.form-field {
  width: 100%;
  height: 45px;
  font-size: 13px;
  margin-bottom: 17px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  padding-left: 12px;
  padding-right: 12px;
  padding-top:8px;
  padding-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
}

.link-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 30px;
  border-radius: 4px;
  background-color: #2e80b6;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  color: white;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.link-button:hover {
  background-color: #2e9dff;
  color: white;
  text-decoration: none;
}

.save-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 5.7px;
  padding-right: 15px;
  padding-bottom: 5.7px;
  padding-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #1b7dd3a9;
  transition-property: background-color, border, color;
  transition-duration: 300ms, 300ms, 300ms;
  transition-timing-function: ease, ease, ease;
  color: #2e9dff;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.save-button:hover {
  background-color: #0071d4;
  color: white;
}



.icon-link{
  display: inline-block;
  padding: 20px; 
  font-size: 16px;
  height: 20px;
  position: relative;
  overflow: visible;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  color: #1010d1;
}

.hero-host{
  border-width: 1px;
  border-style: solid;
  background-position: 50% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  opacity: 1;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-top: 100px;
  padding-bottom: 80px;
  
}

.inpBox{
  background-color:transparent;
  text-align: center;
  resize:none;
  width:100%;
  overflow: hidden;
  height: auto;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  border-radius: 3px;
}
#PHead{
  font-size: 45px;
  height: 80px;
  letter-spacing: 1px;
  color: whitesmoke;
}
#tagline{
  font-size: 14px;
  letter-spacing: 3px;
  color: gainsboro;
  line-height: 1.6;
}
#author{
  align-self: flex-end;
  text-align: right;
  letter-spacing: 1px;
  color: rgb(226, 245, 248);
  font-size: 20px;
}
#descript{
  align-self: flex-end;
  text-align: right;
  letter-spacing: 0.4px;
  color: rgb(185, 188, 189);
  font-size: 13px;
}
#introtxt{
  margin-top: 32px;
    margin-bottom: 32px;
  padding-top: 32px;
  letter-spacing: 0.4px;
  font-weight: bold;
  color: #011218;
  font-size: 21px;
}
.inpBox:hover{
  border-color: rgba(255, 255, 255, 0.719);
  resize: both;
}

.content{
  display:flex;
  gap:0px;
  align-items: stretch;
  height: fit-content;
}
.mainpage{
	  overflow-y: initial;
	/**padding:3% 5% 3% 5%;*/
    text-align: center;
    align-items: center;
    order: 1;
    flex-grow: 1;  
    background: white;
    height: 100%;
    border: none; 
    
}
.sidenav {
  
    /**position: relative;*/
    height: 100%;
    right:0;
    order:2;
    background-color: white;
    transition: .3s;
    width: 300px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 27px;
    overflow: auto;
    border-style: solid;
    border-left-width: 5.5px;
    border-left-color: #cddce9;
    border-radius: 1.8%;
    
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
  color: #818181;
  display: block;
  transition-property: color;
  transition-duration: 50ms;
  transition-timing-function: ease-in-out;
}

.sidenav a:hover {
  color: #011218;
  text-decoration: none;
  font-weight: 559;
}

.addCourse{
  width:50px;
  height:50px;
  border-width: 1px;
  border-color: #676770;
  border-radius: 10%;
}
/******************************************************/
.courseCard{
  position: relative;
  height: 300px;
  width: 280px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.courseCard:hover{
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
.courseCard .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #fff;
  padding: 10px 25px;
  box-shadow: -1px -1px 6px rgba(0,0,0,0.1);
  transition: bottom 0.3s ease;
}

.wrapper #cTitle{
  font-size: 23px;
  font-weight: 500;
  color: #456ABD;
}
.wrapper textarea{
  font-size: 17px;
  color: grey;
}
.wrapper .btns{
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.wrapper .btns button{
  height: 40px;
  width: 100%;
  margin: 0 10px;
  border: 2px solid #456ABD;
  background: #456ABD;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}